@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        @if (!User.Identity.IsAuthenticated)
         {
            <h5>login to access application</h5>
         }
</div>
